
:root {
  --primary-text-color: #757575;
  --title-text-color:#212121;
  --accent-color:#2196F3;
  --project-color: #EEEEEE;
  --white-color: #ffffff;
  --button-background-color: #F5F4FA;
  --background-color:#2F303A;
  --link-address: rgba(255, 255, 255, 0.6)

  
} 
body {
    font-family: Roboto, sans-serif;
    background-color:var(--white-color);
    color:  var(--primary-text-color);
}
.hero,
.contacts-section
 {
    background-color: #212121;
}
.hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;  
        text-align: center;
        letter-spacing: 0.06em;
       }
.hero-button {
    color: var(--white-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
     display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.hero-button {
    background-color: #2196F3;
}
.hero-button:hover,
.hero-button:focus {
    color: var(--white-color);
    background-color: #188CE8;;
}

/* logo */

.logo {
    text-decoration: none;
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

}
.logo-accent {
    color: var(--accent-color);

    }
.link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
}

.link-header {
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.link-header {
color: var(--primary-text-color);
}

.button {
    color: var(--white-color);
    cursor: pointer;
    
}
.button-filter {
    color: var(--title-text-color);
    background-color: var(--button-background-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
        }
        
.button-filter:hover, 
.button-filter:focus {
    color: var(--title-text-colorr);
    background-color: var(--accent-color);
}

.project-watch{
        color: var(--primary-text-color);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
}

ul { 
    list-style: none;
}


/* колір допоміжного тексту #212121 */
/* колір основного тексту #757575 */
/* білий #F5F5F5 */
/* колір проектів  #EEEEEE */
/* акцент #2196F3 */
/* додатковий колір фона  #2F303A  */


/* Hero */

.hero-title {
    color: #FFFFFF;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
}

/* site */
.site-nav .link {
    color: var(--title-text-color);  
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-address .link:hover,
.site-address .link:focus,
.link-header:hover,
.link-header:focus
{
color: var(--accent-color);
}

/* Section */
.section-title {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
      }
.type-title {
    background-color: var(--white-color);
}
.project-box {
    list-style: none;
    text-decoration: none;
}

.section-box {
    list-style: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
}

.section-advantege {
    font-family: 'Roboto';
         font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
}

.section.section-box {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.section-subtitle {
     color: var(--title-text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
}
 .professions {
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
 }

.team {
    background-color: var(--button-background-color);
}

.footer {
    color: var(--background-color);
}

.footer.logo-footer {
    color: var(--accent-color);
}
.page-footer {
    color: var(--background-color);
} 
.footer {
    color: var(--background-color);
}

.logo-contacts,
.logo-footer,
.address,
.link-footer
.footer-section,
.link-address,
.contacts-section
{
    text-decoration: none;
}

 .address {
    color: #FFFFFF;
    font-family: 'Roboto';
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
}

.link-address {
    color: var(--link-address);

        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
}
.logo-contacts {
font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.contacts-section {
    color: var(--background-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.footer-section {
    text-decoration: none;
    color: var(--white-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.logo-footer {
    color: var(--accent-color);
    text-decoration: none;
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

}

.link-footer {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    }
    
.link-footer {
    color: var(--primary-text-color);
    }
    
    .button-filter {
        color: var(--white-color);
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
         display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        background-color: #2196F3
   
    }
    .button-filter:hover,
    .button-filter:focus {
        color: var(--accent-color);
        background-color: var(--button-background-color);
    }